@CHARSET "UTF-8";
body {
	padding-bottom: 60px;
	padding-top: 20px;
	background-color: #FFFFFF;
	color: #333333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

.main-welcome {  margin: 80px 0; }
.container > hr { margin: 60px 0; }

div.container {
	background-repeat: no-repeat;
	background-position: center;
	height: 512px;
}