<hr />
<div class="row-fluid align-center main-welcome">
	<img src="/public/img/vinyl.png" alt="Vinyl Logo" />
	<h1>Welcome to Vinyl Framework!</h1>
	<p class="lead">For more information about Vinyl Framework You can visit project page. Just press the button below.</p>
	<a class="btn btn-large btn-success" href="http://code-snippet.pl" target="_blank">code-snippet.pl</a>
</div>
<hr />